<div class="container">
  <div class="row pt-4">
    <div class="card shadow p-3 mb-5 bg-white rounded">
      <form [formGroup]="formService.form">
        <div class="card-body">
          <input type="text" class="form-control shadow-none" formControlName="nombre" placeholder="Nombre"><br>
          <input type="text" class="form-control shadow-none" formControlName="apellidos" placeholder="Apellidos"><br>
          <input type="text" class="form-control shadow-none" formControlName="email" placeholder="Email">
        </div>
        <button class="btn btn-primary" type="button" [disabled]="!formService.form.valid" (click)="guardarInfor()">My Button</button>
      </form>
    </div>
  </div>
</div>
